/* custom.css */

/* custom styles for the Scissors website */
body {
    font-family: Arial, sans-serif;
    background-color: #8ecae6;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    color: #283618;
    font-size: 24px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  td, th {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  a {
    color: #606c38;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .qr-button {
    margin-bottom: 40px;
    background-color: #f00;
  }
  
  